swagger: "2.0"
info:
    title: Task Service
    description: Service for managing tasks
    version: ""
host: 0.0.0.0:8000
consumes:
    - application/json
    - application/xml
    - application/gob
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /login:
        post:
            tags:
                - auth
            summary: login auth
            description: Login to the system
            operationId: auth#login
            parameters:
                - name: LoginRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/AuthLoginRequestBody'
                    required:
                        - username
                        - password
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/AuthLoginResponseBody'
            schemes:
                - http
    /logout:
        post:
            tags:
                - auth
            summary: logout auth
            description: Logout of the system
            operationId: auth#logout
            parameters:
                - name: LogoutRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/AuthLogoutRequestBody'
                    required:
                        - token
            responses:
                "200":
                    description: OK response.
            schemes:
                - http
    /register:
        post:
            tags:
                - auth
            summary: register auth
            description: Register a new user
            operationId: auth#register
            parameters:
                - name: RegisterRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/AuthRegisterRequestBody'
                    required:
                        - username
                        - password
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/AuthRegisterResponseBody'
            schemes:
                - http
    /tasks:
        get:
            tags:
                - task
            summary: list task
            description: List all tasks
            operationId: task#list
            parameters:
                - name: limit
                  in: query
                  description: Maximum number of tasks to return
                  required: false
                  type: integer
                  default: 20
                - name: offset
                  in: query
                  description: Offset into the list of tasks to start at
                  required: false
                  type: integer
                  default: 0
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/TaskListResponseBody'
            schemes:
                - http
    /tasks/{id}:
        get:
            tags:
                - task
            summary: show task
            description: Show a task
            operationId: task#show
            parameters:
                - name: id
                  in: path
                  description: ID of task to show
                  required: true
                  type: integer
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/TaskShowResponseBody'
                "404":
                    description: Not Found response.
                    schema:
                        type: string
            schemes:
                - http
definitions:
    AuthLoginRequestBody:
        title: AuthLoginRequestBody
        type: object
        properties:
            password:
                type: string
                description: Password to login with
                example: Eaque tenetur.
            username:
                type: string
                description: Username to login with
                example: Voluptates nihil repellat impedit.
        example:
            password: Suscipit dolor.
            username: Illo non quibusdam magni.
        required:
            - username
            - password
    AuthLoginResponseBody:
        title: AuthLoginResponseBody
        type: object
        properties:
            token:
                type: string
                description: JWT token to use for authentication
                example: Sed vitae inventore laboriosam consequatur odio.
        example:
            token: In voluptas id eos.
    AuthLogoutRequestBody:
        title: AuthLogoutRequestBody
        type: object
        properties:
            token:
                type: string
                description: JWT token to use for authentication
                example: Quis qui non.
        example:
            token: Molestias est voluptas et.
        required:
            - token
    AuthRegisterRequestBody:
        title: AuthRegisterRequestBody
        type: object
        properties:
            password:
                type: string
                description: Password to register with
                example: Consequatur aut.
            username:
                type: string
                description: Username to register with
                example: Mollitia odio incidunt ut ducimus.
        example:
            password: Molestias est qui.
            username: Rerum dolor.
        required:
            - username
            - password
    AuthRegisterResponseBody:
        title: AuthRegisterResponseBody
        type: object
        properties:
            token:
                type: string
                description: JWT token to use for authentication
                example: Minima dolorum non officiis minima voluptatem.
        example:
            token: Omnis mollitia.
    BackendStoredTaskResponseBody:
        title: 'Mediatype identifier: applicaiton/vnd.backend.stored-task; view=default'
        type: object
        properties:
            createdAt:
                type: string
                description: When the todo was created in ISO format
                example: Odit dolores reprehenderit sit mollitia quis.
            createdBy:
                type: string
                description: Who created the todo
                example: Minus et officia quo veritatis fuga.
            description:
                type: string
                description: Description of the todo
                example: Voluptatem corporis error optio ut.
            done:
                type: boolean
                description: Whether or not the todo is done
                default: false
                example: true
            doneAt:
                type: string
                description: When the todo was done in ISO format
                default: ""
                example: Eaque et harum minima qui quo.
            doneBy:
                type: string
                description: Who did the todo
                default: ""
                example: Est velit.
            id:
                type: integer
                description: Unique ID
                example: 1533579072
                format: int32
            name:
                type: string
                description: Name of the todo
                example: Maiores cumque iste delectus.
        description: A task (default view)
        example:
            createdAt: Id nesciunt.
            createdBy: Vel et blanditiis aliquam doloremque dolore in.
            description: Tempora ad.
            done: true
            doneAt: Sit delectus.
            doneBy: Sed quis.
            id: 4101334422
            name: Ut numquam repellendus vel magnam.
        required:
            - id
            - name
            - description
            - done
            - createdAt
            - createdBy
    BackendStoredTaskResponseBodyCollection:
        title: 'Mediatype identifier: applicaiton/vnd.backend.stored-task; type=collection; view=default'
        type: array
        items:
            $ref: '#/definitions/BackendStoredTaskResponseBody'
        description: BackendStored-TaskCollectionResponseBody is the result type for an array of BackendStored-TaskResponseBody (default view)
        example:
            - createdAt: Pariatur eos ut.
              createdBy: Pariatur fugiat asperiores illo sed.
              description: Quae velit numquam adipisci nam recusandae.
              done: false
              doneAt: Odio consectetur.
              doneBy: Aut quos culpa voluptatum repellat minus ratione.
              id: 4156316284
              name: Architecto quaerat reprehenderit distinctio ut incidunt.
            - createdAt: Pariatur eos ut.
              createdBy: Pariatur fugiat asperiores illo sed.
              description: Quae velit numquam adipisci nam recusandae.
              done: false
              doneAt: Odio consectetur.
              doneBy: Aut quos culpa voluptatum repellat minus ratione.
              id: 4156316284
              name: Architecto quaerat reprehenderit distinctio ut incidunt.
            - createdAt: Pariatur eos ut.
              createdBy: Pariatur fugiat asperiores illo sed.
              description: Quae velit numquam adipisci nam recusandae.
              done: false
              doneAt: Odio consectetur.
              doneBy: Aut quos culpa voluptatum repellat minus ratione.
              id: 4156316284
              name: Architecto quaerat reprehenderit distinctio ut incidunt.
    TaskListResponseBody:
        title: TaskListResponseBody
        type: object
        properties:
            tasks:
                $ref: '#/definitions/BackendStoredTaskResponseBodyCollection'
        example:
            tasks:
                - createdAt: Sunt autem.
                  createdBy: Beatae eaque.
                  description: Dolores voluptate dolores quas.
                  done: true
                  doneAt: Est voluptatem molestiae.
                  doneBy: Vitae aperiam eaque qui voluptas nihil.
                  id: 268402415
                  name: Id labore ipsa.
                - createdAt: Sunt autem.
                  createdBy: Beatae eaque.
                  description: Dolores voluptate dolores quas.
                  done: true
                  doneAt: Est voluptatem molestiae.
                  doneBy: Vitae aperiam eaque qui voluptas nihil.
                  id: 268402415
                  name: Id labore ipsa.
                - createdAt: Sunt autem.
                  createdBy: Beatae eaque.
                  description: Dolores voluptate dolores quas.
                  done: true
                  doneAt: Est voluptatem molestiae.
                  doneBy: Vitae aperiam eaque qui voluptas nihil.
                  id: 268402415
                  name: Id labore ipsa.
                - createdAt: Sunt autem.
                  createdBy: Beatae eaque.
                  description: Dolores voluptate dolores quas.
                  done: true
                  doneAt: Est voluptatem molestiae.
                  doneBy: Vitae aperiam eaque qui voluptas nihil.
                  id: 268402415
                  name: Id labore ipsa.
    TaskShowResponseBody:
        title: TaskShowResponseBody
        type: object
        properties:
            task:
                $ref: '#/definitions/BackendStoredTaskResponseBody'
        example:
            task:
                createdAt: Sunt autem.
                createdBy: Beatae eaque.
                description: Dolores voluptate dolores quas.
                done: true
                doneAt: Est voluptatem molestiae.
                doneBy: Vitae aperiam eaque qui voluptas nihil.
                id: 268402415
                name: Id labore ipsa.
