swagger: "2.0"
info:
    title: Task Service
    description: Service for managing tasks
    version: ""
host: 0.0.0.0:8000
consumes:
    - application/json
    - application/xml
    - application/gob
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /login:
        post:
            tags:
                - auth
            summary: login auth
            description: Login to the system
            operationId: auth#login
            parameters:
                - name: LoginRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/AuthLoginRequestBody'
                    required:
                        - username
                        - password
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/AuthLoginResponseBody'
            schemes:
                - http
    /logout:
        post:
            tags:
                - auth
            summary: logout auth
            description: Logout of the system
            operationId: auth#logout
            parameters:
                - name: LogoutRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/AuthLogoutRequestBody'
                    required:
                        - token
            responses:
                "200":
                    description: OK response.
            schemes:
                - http
    /register:
        post:
            tags:
                - auth
            summary: register auth
            description: Register a new user
            operationId: auth#register
            parameters:
                - name: RegisterRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/AuthRegisterRequestBody'
                    required:
                        - username
                        - password
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/AuthRegisterResponseBody'
            schemes:
                - http
    /tasks:
        get:
            tags:
                - task
            summary: list task
            description: List all tasks
            operationId: task#list
            parameters:
                - name: limit
                  in: query
                  description: Maximum number of tasks to return
                  required: false
                  type: integer
                  default: 20
                - name: offset
                  in: query
                  description: Offset into the list of tasks to start at
                  required: false
                  type: integer
                  default: 0
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/TaskListResponseBody'
            schemes:
                - http
        post:
            tags:
                - task
            summary: create task
            description: Create a task
            operationId: task#create
            parameters:
                - name: CreateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/TaskCreateRequestBody'
                    required:
                        - name
                        - created_by
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/TaskCreateResponseBody'
            schemes:
                - http
    /tasks/{id}:
        get:
            tags:
                - task
            summary: show task
            description: Show a task
            operationId: task#show
            parameters:
                - name: id
                  in: path
                  description: ID of task to show
                  required: true
                  type: integer
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/TaskShowResponseBody'
                "404":
                    description: Not Found response.
                    schema:
                        type: string
            schemes:
                - http
        put:
            tags:
                - task
            summary: update task
            description: Update a task
            operationId: task#update
            parameters:
                - name: id
                  in: path
                  description: ID of task to update
                  required: true
                  type: integer
                - name: UpdateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/TaskUpdateRequestBody'
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/TaskUpdateResponseBody'
            schemes:
                - http
definitions:
    AuthLoginRequestBody:
        title: AuthLoginRequestBody
        type: object
        properties:
            password:
                type: string
                description: Password to login with
                example: Optio ut aut voluptatum eaque et harum.
            username:
                type: string
                description: Username to login with
                example: Iste delectus est voluptatem corporis.
        example:
            password: Odit dolores reprehenderit sit mollitia quis.
            username: Qui quo cumque est velit.
        required:
            - username
            - password
    AuthLoginResponseBody:
        title: AuthLoginResponseBody
        type: object
        properties:
            token:
                type: string
                description: JWT token to use for authentication
                example: Molestias est voluptas et.
        example:
            token: Qui maiores.
    AuthLogoutRequestBody:
        title: AuthLogoutRequestBody
        type: object
        properties:
            token:
                type: string
                description: JWT token to use for authentication
                example: Quidem consequuntur architecto quaerat.
        example:
            token: Distinctio ut incidunt consequuntur quae velit.
        required:
            - token
    AuthRegisterRequestBody:
        title: AuthRegisterRequestBody
        type: object
        properties:
            password:
                type: string
                description: Password to register with
                example: Sed quis.
            username:
                type: string
                description: Username to register with
                example: Provident tempora ad non accusamus sit delectus.
        example:
            password: Vel et blanditiis aliquam doloremque dolore in.
            username: Id nesciunt.
        required:
            - username
            - password
    AuthRegisterResponseBody:
        title: AuthRegisterResponseBody
        type: object
        properties:
            token:
                type: string
                description: JWT token to use for authentication
                example: Minus et officia quo veritatis fuga.
        example:
            token: Sit ut numquam repellendus vel.
    BackendStoredTaskResponseBody:
        title: 'Mediatype identifier: applicaiton/vnd.backend.stored-task; view=default'
        type: object
        properties:
            createdAt:
                type: string
                description: When the todo was created in ISO format
                example: Pariatur fugiat asperiores illo sed.
            createdBy:
                type: string
                description: Who created the todo
                example: Voluptas maxime nulla odio neque itaque.
            description:
                type: string
                description: Description of the todo
                example: Accusamus odio.
            done:
                type: boolean
                description: Whether or not the todo is done
                default: false
                example: false
            doneAt:
                type: string
                description: When the todo was done in ISO format
                default: ""
                example: Aut quos culpa voluptatum repellat minus ratione.
            doneBy:
                type: string
                description: Who did the todo
                default: ""
                example: Pariatur eos ut.
            id:
                type: integer
                description: Unique ID
                example: 3116138495
                format: int32
            name:
                type: string
                description: Name of the todo
                example: Nam recusandae.
        description: A task (default view)
        example:
            createdAt: Consequatur provident quisquam.
            createdBy: Consequuntur dolorem libero officia aliquam laborum.
            description: Quo quia quaerat et eveniet.
            done: true
            doneAt: Ad accusamus ea.
            doneBy: Assumenda dolorem voluptatem.
            id: 1974875452
            name: Distinctio nesciunt sequi nihil cumque dolorem.
        required:
            - id
            - name
            - description
            - done
            - createdAt
            - createdBy
    BackendStoredTaskResponseBodyCollection:
        title: 'Mediatype identifier: applicaiton/vnd.backend.stored-task; type=collection; view=default'
        type: array
        items:
            $ref: '#/definitions/BackendStoredTaskResponseBody'
        description: BackendStored-TaskCollectionResponseBody is the result type for an array of BackendStored-TaskResponseBody (default view)
        example:
            - createdAt: Ab cumque quia accusamus.
              createdBy: Neque error et repellat porro recusandae.
              description: Nulla quaerat eos ipsa temporibus voluptate velit.
              done: false
              doneAt: Occaecati doloremque illum fugiat consequuntur.
              doneBy: Voluptatibus tenetur nisi.
              id: 2281551911
              name: Et enim itaque qui et est voluptas.
            - createdAt: Ab cumque quia accusamus.
              createdBy: Neque error et repellat porro recusandae.
              description: Nulla quaerat eos ipsa temporibus voluptate velit.
              done: false
              doneAt: Occaecati doloremque illum fugiat consequuntur.
              doneBy: Voluptatibus tenetur nisi.
              id: 2281551911
              name: Et enim itaque qui et est voluptas.
            - createdAt: Ab cumque quia accusamus.
              createdBy: Neque error et repellat porro recusandae.
              description: Nulla quaerat eos ipsa temporibus voluptate velit.
              done: false
              doneAt: Occaecati doloremque illum fugiat consequuntur.
              doneBy: Voluptatibus tenetur nisi.
              id: 2281551911
              name: Et enim itaque qui et est voluptas.
            - createdAt: Ab cumque quia accusamus.
              createdBy: Neque error et repellat porro recusandae.
              description: Nulla quaerat eos ipsa temporibus voluptate velit.
              done: false
              doneAt: Occaecati doloremque illum fugiat consequuntur.
              doneBy: Voluptatibus tenetur nisi.
              id: 2281551911
              name: Et enim itaque qui et est voluptas.
    TaskCreateRequestBody:
        title: TaskCreateRequestBody
        type: object
        properties:
            created_by:
                type: string
                description: Who created the task
                example: Hic est voluptate et.
            description:
                type: string
                description: Description of the task
                example: Rerum sit sed sequi iusto laborum.
            id:
                type: integer
                description: ID of task to create
                example: 2087078681
                format: int32
            name:
                type: string
                description: Name of the task
                example: Sed ut et nemo voluptas quod sunt.
        example:
            created_by: At aut beatae error.
            description: Sit et reiciendis dolores itaque.
            id: 191022876
            name: Doloribus asperiores iste dolores totam ut.
        required:
            - name
            - created_by
    TaskCreateResponseBody:
        title: TaskCreateResponseBody
        type: object
        properties:
            task:
                $ref: '#/definitions/BackendStoredTaskResponseBody'
        example:
            task:
                createdAt: Sunt autem.
                createdBy: Beatae eaque.
                description: Dolores voluptate dolores quas.
                done: true
                doneAt: Est voluptatem molestiae.
                doneBy: Vitae aperiam eaque qui voluptas nihil.
                id: 268402415
                name: Id labore ipsa.
    TaskListResponseBody:
        title: TaskListResponseBody
        type: object
        properties:
            tasks:
                $ref: '#/definitions/BackendStoredTaskResponseBodyCollection'
        example:
            tasks:
                - createdAt: Sunt autem.
                  createdBy: Beatae eaque.
                  description: Dolores voluptate dolores quas.
                  done: true
                  doneAt: Est voluptatem molestiae.
                  doneBy: Vitae aperiam eaque qui voluptas nihil.
                  id: 268402415
                  name: Id labore ipsa.
                - createdAt: Sunt autem.
                  createdBy: Beatae eaque.
                  description: Dolores voluptate dolores quas.
                  done: true
                  doneAt: Est voluptatem molestiae.
                  doneBy: Vitae aperiam eaque qui voluptas nihil.
                  id: 268402415
                  name: Id labore ipsa.
                - createdAt: Sunt autem.
                  createdBy: Beatae eaque.
                  description: Dolores voluptate dolores quas.
                  done: true
                  doneAt: Est voluptatem molestiae.
                  doneBy: Vitae aperiam eaque qui voluptas nihil.
                  id: 268402415
                  name: Id labore ipsa.
                - createdAt: Sunt autem.
                  createdBy: Beatae eaque.
                  description: Dolores voluptate dolores quas.
                  done: true
                  doneAt: Est voluptatem molestiae.
                  doneBy: Vitae aperiam eaque qui voluptas nihil.
                  id: 268402415
                  name: Id labore ipsa.
    TaskShowResponseBody:
        title: TaskShowResponseBody
        type: object
        properties:
            task:
                $ref: '#/definitions/BackendStoredTaskResponseBody'
        example:
            task:
                createdAt: Sunt autem.
                createdBy: Beatae eaque.
                description: Dolores voluptate dolores quas.
                done: true
                doneAt: Est voluptatem molestiae.
                doneBy: Vitae aperiam eaque qui voluptas nihil.
                id: 268402415
                name: Id labore ipsa.
    TaskUpdateRequestBody:
        title: TaskUpdateRequestBody
        type: object
        properties:
            description:
                type: string
                description: Description of the task
                example: Rerum ducimus incidunt id laborum hic distinctio.
            name:
                type: string
                description: Name of the task
                example: Omnis reprehenderit cumque mollitia alias non hic.
        example:
            description: Pariatur aut modi.
            name: Voluptates voluptatem quia qui.
    TaskUpdateResponseBody:
        title: TaskUpdateResponseBody
        type: object
        properties:
            task:
                $ref: '#/definitions/BackendStoredTaskResponseBody'
        example:
            task:
                createdAt: Sunt autem.
                createdBy: Beatae eaque.
                description: Dolores voluptate dolores quas.
                done: true
                doneAt: Est voluptatem molestiae.
                doneBy: Vitae aperiam eaque qui voluptas nihil.
                id: 268402415
                name: Id labore ipsa.
