swagger: "2.0"
info:
    title: Task Service
    description: Service for managing tasks
    version: ""
host: 0.0.0.0:8000
consumes:
    - application/json
    - application/xml
    - application/gob
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /login:
        post:
            tags:
                - auth
            summary: login auth
            description: Login to the system
            operationId: auth#login
            parameters:
                - name: LoginRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/AuthLoginRequestBody'
                    required:
                        - username
                        - password
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/AuthLoginResponseBody'
            schemes:
                - http
    /logout:
        post:
            tags:
                - auth
            summary: logout auth
            description: Logout of the system
            operationId: auth#logout
            parameters:
                - name: LogoutRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/AuthLogoutRequestBody'
                    required:
                        - token
            responses:
                "200":
                    description: OK response.
            schemes:
                - http
    /register:
        post:
            tags:
                - auth
            summary: register auth
            description: Register a new user
            operationId: auth#register
            parameters:
                - name: RegisterRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/AuthRegisterRequestBody'
                    required:
                        - username
                        - password
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/AuthRegisterResponseBody'
            schemes:
                - http
    /tasks:
        get:
            tags:
                - task
            summary: list task
            description: List all tasks
            operationId: task#list
            parameters:
                - name: limit
                  in: query
                  description: Maximum number of tasks to return
                  required: false
                  type: integer
                  default: 20
                - name: offset
                  in: query
                  description: Offset into the list of tasks to start at
                  required: false
                  type: integer
                  default: 0
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/TaskListResponseBody'
            schemes:
                - http
    /tasks/{id}:
        get:
            tags:
                - task
            summary: show task
            description: Show a task
            operationId: task#show
            parameters:
                - name: id
                  in: path
                  description: ID of task to show
                  required: true
                  type: integer
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/TaskShowResponseBody'
            schemes:
                - http
definitions:
    AuthLoginRequestBody:
        title: AuthLoginRequestBody
        type: object
        properties:
            password:
                type: string
                description: Password to login with
                example: In voluptas id eos.
            username:
                type: string
                description: Username to login with
                example: Sed vitae inventore laboriosam consequatur odio.
        example:
            password: Eaque tenetur.
            username: Voluptates nihil repellat impedit.
        required:
            - username
            - password
    AuthLoginResponseBody:
        title: AuthLoginResponseBody
        type: object
        properties:
            token:
                type: string
                description: JWT token to use for authentication
                example: Voluptatibus similique.
        example:
            token: Dolores vel aliquam a voluptas.
    AuthLogoutRequestBody:
        title: AuthLogoutRequestBody
        type: object
        properties:
            token:
                type: string
                description: JWT token to use for authentication
                example: Rerum dolor.
        example:
            token: Molestias est qui.
        required:
            - token
    AuthRegisterRequestBody:
        title: AuthRegisterRequestBody
        type: object
        properties:
            password:
                type: string
                description: Password to register with
                example: Omnis mollitia.
            username:
                type: string
                description: Username to register with
                example: Minima dolorum non officiis minima voluptatem.
        example:
            password: Consequatur aut.
            username: Mollitia odio incidunt ut ducimus.
        required:
            - username
            - password
    AuthRegisterResponseBody:
        title: AuthRegisterResponseBody
        type: object
        properties:
            token:
                type: string
                description: JWT token to use for authentication
                example: Illo non quibusdam magni.
        example:
            token: Suscipit dolor.
    BackendStoredTaskResponseBody:
        title: 'Mediatype identifier: applicaiton/vnd.backend.stored-task; view=default'
        type: object
        properties:
            createdAt:
                type: string
                description: When the todo was created in ISO format
                example: Harum minima qui.
            createdBy:
                type: string
                description: Who created the todo
                example: Cumque est velit recusandae odit dolores.
            description:
                type: string
                description: Description of the todo
                example: Qui maiores.
            done:
                type: boolean
                description: Whether or not the todo is done
                default: false
                example: false
            doneAt:
                type: string
                description: When the todo was done in ISO format
                default: ""
                example: Delectus est.
            doneBy:
                type: string
                description: Who did the todo
                default: ""
                example: Corporis error optio ut aut voluptatum eaque.
            id:
                type: integer
                description: Unique ID
                example: 3641181099
                format: int32
            name:
                type: string
                description: Name of the todo
                example: Qui non optio molestias est voluptas et.
        description: A task (default view)
        example:
            createdAt: Accusamus sit delectus ipsum.
            createdBy: Quis ratione id nesciunt suscipit vel et.
            description: Minus et officia quo veritatis fuga.
            done: true
            doneAt: Ut numquam repellendus vel magnam.
            doneBy: Tempora ad.
            id: 4114667426
            name: Mollitia quis.
        required:
            - id
            - name
            - description
            - done
            - createdAt
            - createdBy
    BackendStoredTaskResponseBodyCollection:
        title: 'Mediatype identifier: applicaiton/vnd.backend.stored-task; type=collection; view=default'
        type: array
        items:
            $ref: '#/definitions/BackendStoredTaskResponseBody'
        description: BackendStored-TaskCollectionResponseBody is the result type for an array of BackendStored-TaskResponseBody (default view)
        example:
            - createdAt: Debitis aut quos culpa.
              createdBy: Repellat minus ratione.
              description: Reprehenderit distinctio ut.
              done: true
              doneAt: Quae velit numquam adipisci nam recusandae.
              doneBy: Accusamus odio.
              id: 2197331502
              name: Dolore in maxime quidem consequuntur architecto.
            - createdAt: Debitis aut quos culpa.
              createdBy: Repellat minus ratione.
              description: Reprehenderit distinctio ut.
              done: true
              doneAt: Quae velit numquam adipisci nam recusandae.
              doneBy: Accusamus odio.
              id: 2197331502
              name: Dolore in maxime quidem consequuntur architecto.
            - createdAt: Debitis aut quos culpa.
              createdBy: Repellat minus ratione.
              description: Reprehenderit distinctio ut.
              done: true
              doneAt: Quae velit numquam adipisci nam recusandae.
              doneBy: Accusamus odio.
              id: 2197331502
              name: Dolore in maxime quidem consequuntur architecto.
    TaskListResponseBody:
        title: TaskListResponseBody
        type: object
        properties:
            tasks:
                $ref: '#/definitions/BackendStoredTaskResponseBodyCollection'
        example:
            tasks:
                - createdAt: Sunt autem.
                  createdBy: Beatae eaque.
                  description: Dolores voluptate dolores quas.
                  done: true
                  doneAt: Est voluptatem molestiae.
                  doneBy: Vitae aperiam eaque qui voluptas nihil.
                  id: 268402415
                  name: Id labore ipsa.
                - createdAt: Sunt autem.
                  createdBy: Beatae eaque.
                  description: Dolores voluptate dolores quas.
                  done: true
                  doneAt: Est voluptatem molestiae.
                  doneBy: Vitae aperiam eaque qui voluptas nihil.
                  id: 268402415
                  name: Id labore ipsa.
                - createdAt: Sunt autem.
                  createdBy: Beatae eaque.
                  description: Dolores voluptate dolores quas.
                  done: true
                  doneAt: Est voluptatem molestiae.
                  doneBy: Vitae aperiam eaque qui voluptas nihil.
                  id: 268402415
                  name: Id labore ipsa.
                - createdAt: Sunt autem.
                  createdBy: Beatae eaque.
                  description: Dolores voluptate dolores quas.
                  done: true
                  doneAt: Est voluptatem molestiae.
                  doneBy: Vitae aperiam eaque qui voluptas nihil.
                  id: 268402415
                  name: Id labore ipsa.
    TaskShowResponseBody:
        title: TaskShowResponseBody
        type: object
        properties:
            task:
                $ref: '#/definitions/BackendStoredTaskResponseBody'
        example:
            task:
                createdAt: Sunt autem.
                createdBy: Beatae eaque.
                description: Dolores voluptate dolores quas.
                done: true
                doneAt: Est voluptatem molestiae.
                doneBy: Vitae aperiam eaque qui voluptas nihil.
                id: 268402415
                name: Id labore ipsa.
