openapi: 3.0.3
info:
    title: Task Service
    description: Service for managing tasks
    version: "1.0"
servers:
    - url: http://0.0.0.0:8000
paths:
    /login:
        post:
            tags:
                - auth
            summary: login auth
            description: Login to the system
            operationId: auth#login
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/LoginRequestBody'
                        example:
                            password: Et molestiae molestias aut odio optio enim.
                            username: Autem quibusdam quibusdam soluta unde quibusdam.
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/LoginResponseBody'
                            example:
                                token: Optio recusandae non officiis ipsam unde.
    /logout:
        post:
            tags:
                - auth
            summary: logout auth
            description: Logout of the system
            operationId: auth#logout
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/LogoutRequestBody'
                        example:
                            token: Corrupti explicabo voluptate aut.
            responses:
                "200":
                    description: OK response.
    /register:
        post:
            tags:
                - auth
            summary: register auth
            description: Register a new user
            operationId: auth#register
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/LoginRequestBody'
                        example:
                            password: Quam voluptas deleniti earum praesentium non dolorum.
                            username: Reprehenderit rerum dicta reiciendis.
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/LoginResponseBody'
                            example:
                                token: Fugit nesciunt.
    /tasks:
        get:
            tags:
                - task
            summary: list task
            description: List all tasks
            operationId: task#list
            parameters:
                - name: limit
                  in: query
                  description: Maximum number of tasks to return
                  allowEmptyValue: true
                  schema:
                    type: integer
                    description: Maximum number of tasks to return
                    default: 20
                    example: 707461583
                  example: 166613250
                - name: offset
                  in: query
                  description: Offset into the list of tasks to start at
                  allowEmptyValue: true
                  schema:
                    type: integer
                    description: Offset into the list of tasks to start at
                    default: 0
                    example: 4116386522
                  example: 634326852
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListResponseBody'
                            example:
                                tasks:
                                    - createdAt: Sunt autem.
                                      createdBy: Beatae eaque.
                                      description: Dolores voluptate dolores quas.
                                      done: true
                                      doneAt: Est voluptatem molestiae.
                                      doneBy: Vitae aperiam eaque qui voluptas nihil.
                                      id: 268402415
                                      name: Id labore ipsa.
                                    - createdAt: Sunt autem.
                                      createdBy: Beatae eaque.
                                      description: Dolores voluptate dolores quas.
                                      done: true
                                      doneAt: Est voluptatem molestiae.
                                      doneBy: Vitae aperiam eaque qui voluptas nihil.
                                      id: 268402415
                                      name: Id labore ipsa.
                                    - createdAt: Sunt autem.
                                      createdBy: Beatae eaque.
                                      description: Dolores voluptate dolores quas.
                                      done: true
                                      doneAt: Est voluptatem molestiae.
                                      doneBy: Vitae aperiam eaque qui voluptas nihil.
                                      id: 268402415
                                      name: Id labore ipsa.
                                    - createdAt: Sunt autem.
                                      createdBy: Beatae eaque.
                                      description: Dolores voluptate dolores quas.
                                      done: true
                                      doneAt: Est voluptatem molestiae.
                                      doneBy: Vitae aperiam eaque qui voluptas nihil.
                                      id: 268402415
                                      name: Id labore ipsa.
    /tasks/{id}:
        get:
            tags:
                - task
            summary: show task
            description: Show a task
            operationId: task#show
            parameters:
                - name: id
                  in: path
                  description: ID of task to show
                  required: true
                  schema:
                    type: integer
                    description: ID of task to show
                    example: 4267314489
                  example: 3164397079
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ShowResponseBody'
                            example:
                                task:
                                    createdAt: Sunt autem.
                                    createdBy: Beatae eaque.
                                    description: Dolores voluptate dolores quas.
                                    done: true
                                    doneAt: Est voluptatem molestiae.
                                    doneBy: Vitae aperiam eaque qui voluptas nihil.
                                    id: 268402415
                                    name: Id labore ipsa.
                "404":
                    description: 'no_match: Not Found response.'
                    content:
                        application/json:
                            schema:
                                type: string
                                example: At aut beatae error.
                            example: Hic dignissimos.
components:
    schemas:
        BackendStoredTask:
            type: object
            properties:
                createdAt:
                    type: string
                    description: When the todo was created in ISO format
                    example: Accusamus fugit neque error.
                createdBy:
                    type: string
                    description: Who created the todo
                    example: Repellat porro.
                description:
                    type: string
                    description: Description of the todo
                    example: Ipsum vero.
                done:
                    type: boolean
                    description: Whether or not the todo is done
                    default: false
                    example: false
                doneAt:
                    type: string
                    description: When the todo was done in ISO format
                    default: ""
                    example: Illum fugiat consequuntur excepturi voluptatibus tenetur.
                doneBy:
                    type: string
                    description: Who did the todo
                    default: ""
                    example: Aut ab cumque.
                id:
                    type: integer
                    description: Unique ID
                    example: 4194445750
                name:
                    type: string
                    description: Name of the todo
                    example: Quaerat eos ipsa temporibus voluptate.
            description: A task
            example:
                createdAt: Iste dolores totam ut incidunt sit.
                createdBy: Reiciendis dolores.
                description: Voluptas quod sunt expedita rerum sit.
                done: true
                doneAt: Iusto laborum tempora hic.
                doneBy: Voluptate et architecto unde doloribus.
                id: 1900228527
                name: Qui sed ut et.
            required:
                - id
                - name
                - description
                - done
                - createdAt
                - createdBy
        BackendStoredTaskCollection:
            type: array
            items:
                $ref: '#/components/schemas/BackendStoredTask'
            example:
                - createdAt: Sunt autem.
                  createdBy: Beatae eaque.
                  description: Dolores voluptate dolores quas.
                  done: true
                  doneAt: Est voluptatem molestiae.
                  doneBy: Vitae aperiam eaque qui voluptas nihil.
                  id: 268402415
                  name: Id labore ipsa.
                - createdAt: Sunt autem.
                  createdBy: Beatae eaque.
                  description: Dolores voluptate dolores quas.
                  done: true
                  doneAt: Est voluptatem molestiae.
                  doneBy: Vitae aperiam eaque qui voluptas nihil.
                  id: 268402415
                  name: Id labore ipsa.
        ListResponseBody:
            type: object
            properties:
                tasks:
                    $ref: '#/components/schemas/BackendStoredTaskCollection'
            example:
                tasks:
                    - createdAt: Sunt autem.
                      createdBy: Beatae eaque.
                      description: Dolores voluptate dolores quas.
                      done: true
                      doneAt: Est voluptatem molestiae.
                      doneBy: Vitae aperiam eaque qui voluptas nihil.
                      id: 268402415
                      name: Id labore ipsa.
                    - createdAt: Sunt autem.
                      createdBy: Beatae eaque.
                      description: Dolores voluptate dolores quas.
                      done: true
                      doneAt: Est voluptatem molestiae.
                      doneBy: Vitae aperiam eaque qui voluptas nihil.
                      id: 268402415
                      name: Id labore ipsa.
                    - createdAt: Sunt autem.
                      createdBy: Beatae eaque.
                      description: Dolores voluptate dolores quas.
                      done: true
                      doneAt: Est voluptatem molestiae.
                      doneBy: Vitae aperiam eaque qui voluptas nihil.
                      id: 268402415
                      name: Id labore ipsa.
                    - createdAt: Sunt autem.
                      createdBy: Beatae eaque.
                      description: Dolores voluptate dolores quas.
                      done: true
                      doneAt: Est voluptatem molestiae.
                      doneBy: Vitae aperiam eaque qui voluptas nihil.
                      id: 268402415
                      name: Id labore ipsa.
        LoginRequestBody:
            type: object
            properties:
                password:
                    type: string
                    description: Password to login with
                    example: Odio distinctio nesciunt sequi.
                username:
                    type: string
                    description: Username to login with
                    example: Voluptas maxime nulla odio neque itaque.
            example:
                password: Eveniet veritatis doloremque ad accusamus.
                username: Cumque dolorem fugiat quo quia quaerat.
            required:
                - username
                - password
        LoginResponseBody:
            type: object
            properties:
                token:
                    type: string
                    description: JWT token to use for authentication
                    example: Corrupti assumenda dolorem voluptatem asperiores consequatur.
            example:
                token: Quisquam voluptas consequuntur dolorem libero.
        LogoutRequestBody:
            type: object
            properties:
                token:
                    type: string
                    description: JWT token to use for authentication
                    example: Aliquam laborum voluptatem ut.
            example:
                token: Et enim itaque qui et est voluptas.
            required:
                - token
        ShowResponseBody:
            type: object
            properties:
                task:
                    $ref: '#/components/schemas/BackendStoredTask'
            example:
                task:
                    createdAt: Sunt autem.
                    createdBy: Beatae eaque.
                    description: Dolores voluptate dolores quas.
                    done: true
                    doneAt: Est voluptatem molestiae.
                    doneBy: Vitae aperiam eaque qui voluptas nihil.
                    id: 268402415
                    name: Id labore ipsa.
tags:
    - name: auth
      description: The auth service manages authentication
    - name: task
      description: The task service manages task lists
